/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.ssl .icon {
  height: 180px;
  width: 180px;
  background-image: -webkit-image-set(
      url(images/1x/authority_invalid.svg) 1x,
      url(images/2x/authority_invalid.svg) 2x);
}

.dark.ssl .icon {
  background-image: -webkit-image-set(
      url(images/1x/authority_invalid_dark.png) 1x,
      url(images/2x/authority_invalid_dark.png) 2x);
}

.ssl .legacy-tls.icon {
  background-image: -webkit-image-set(
      url(images/1x/info.png) 1x,
      url(images/2x/info.png) 2x);
}

@media (prefers-color-scheme: dark) {
  .ssl .legacy-tls.icon {
    filter: invert(1);
  }
}

.ssl-opt-in .checkbox::after {
  border-color: #696969;
}

.ssl-opt-in .checkbox::before {
  border-color: #696969;
}
