*.pyc
out/
base/third_party/libevent/
build/config/freetype/freetype.gni
third_party/ffmpeg/BUILD.gn
third_party/flac/
third_party/fontconfig/
third_party/harfbuzz-ng/harfbuzz.gni
third_party/libdrm/
third_party/libjpeg.gni
third_party/libpng/
third_party/libvpx/
third_party/libxml/BUILD.gn
third_party/libxslt/
third_party/openh264/BUILD.gn
third_party/opus/
third_party/re2/
third_party/snappy/
third_party/yasm/yasm_assemble.gni
debian/.debhelper
debian/org.deepin.browser
gitcommit_template
.vscode/

debian/debhelper-build-stamp
debian/files
debian/org.deepin.browser.debhelper.log
debian/org.deepin.browser.substvars

third_party/icu/source/config.guess
third_party/icu/source/config.sub
