<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>LinuxDeepin</vendor>
  <vendor_url>https://www.deepin.com/</vendor_url>
  <action id="com.deepin.pkexec.deepin-password-auth">
    <description>authentication</description>
    <description xml:lang="zh_CN">认证</description>
    <description xml:lang="zh_HK">认证</description>
    <description xml:lang="zh_TW">认证</description>
    <message>Authentication is required to view passwords</message>
    <message xml:lang="zh_CN">查看密码，需要授权</message>
    <message xml:lang="zh_HK">查看密码，需要授权</message>
    <message xml:lang="zh_TW">查看密码，需要授权</message>
    <icon_name>org.deepin.browser</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/browser</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>

